//Medidas en dispositivos
$telefono: 488px;
$tablet: 768px;
$deskop: 1024px;


//Varibales para distribucion
$sepacion: 4rem;


//Paleta de colores
$rojo: #DF201E;
$amarillo: #EAD63D;
$naranja: #EC5C32;
$azul: #0132AD;
$blanco: white;